<div class="app-body">
  <div class="sidebar">
    <img src="assets/logo.png" alt="Logo" class="logo"/>

    <ul class="workouts">
      <app-search-bar></app-search-bar>
      <app-drop-down-menu></app-drop-down-menu>
      <app-zone-search [ngStyle]="{'display':zoneType === 'normal' ? 'inline-block' : 'none' }"></app-zone-search>
      <app-zone-search-geo-tools
        [ngStyle]="{'display':zoneType === 'geo-tools' ? 'inline-block' : 'none'}"></app-zone-search-geo-tools>
    </ul>

    <p class="copyright">
      &copy; Copyright by
      Negrea Alexandru Cristian
      . The UI for the WebGIS Application.
    </p>
  </div>
  <router-outlet></router-outlet>
</div>

